:root {
  --collection-de-variables-hero-1: rgba(255, 241, 198, 1);
  --collection-de-variables-hero-2: rgba(231, 234, 188, 1);
  --collection-de-variables-header-1: rgba(200, 197, 188, 1);
  --collection-de-variables-header-CTA-1: rgba(217, 86, 5, 1);
  --collection-de-variables-hero-3: rgba(195, 108, 48, 1);
  --collection-de-variables-footer-1: rgba(80, 68, 58, 1);
  --collection-de-variables-bouton-1: rgba(255, 238, 222, 1);
  --collection-de-variables-couleur-1-tableau: rgba(22, 126, 169, 1);
  --collection-de-variables-bouton-2: rgba(100, 141, 158, 1);
  --collection-de-variables-bouton-3: rgba(97, 114, 121, 1);
  --collection-de-variables-couleur-2-tableau: rgba(217, 217, 217, 1);
  --collection-de-variables-couleur-3-tableau: rgba(199, 194, 194, 1);
  --couleur-texte-tableaux-profils: rgba(63, 83, 91, 1);
}
