/* =========================
   LAYOUT GLOBAL PAGE MENU
========================= */

.page-menu-detail {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

.page-main {
  flex: 1;
  display: flex;
  flex-direction: column;
  background-color: var(--collection-de-variables-hero-1);
}

/* =========================
   SECTION MENU
========================= */

.menu-page-section {
  flex: 1;
  width: 100%;
  padding: 25px 80px 60px;
}

.menu-page-section h2 {
  margin: 0 0 80px;
  font-family: "Cormorant Garamond", serif;
  font-size: 40px;
  font-weight: 600;
  color: var(--collection-de-variables-footer-1);
  text-align: center;
}

/* =========================
   GRID
========================= */

.menu-page-grid {
  display: grid;
  grid-template-columns: repeat(2, 200px);
  justify-content: center;
  column-gap: 200px;
  row-gap: 120px;
}

/* =========================
   CARD
========================= */

.menu-page-card {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

.menu-page-card p {
  margin: 0 0 15px;
  font-family: "Lato", sans-serif;
  font-size: 20px;
  font-weight: 400;
  color: var(--collection-de-variables-footer-1);
  white-space: nowrap;
}

/* =========================
   IMAGE CONTAINER
========================= */

.menu-page-card__image {
  position: relative;
  width: 200px;
  height: 160px;
  overflow: hidden;
  border-radius: 15px;
}

/* image */
.menu-page-card__image img {
  width: 100%;
  height: 100%;
  display: block;
  object-fit: cover;

  cursor: pointer;
  transition: transform 0.2s ease;
}

/* hover zoom */
.menu-page-card__image img:hover {
  transform: scale(1.05);
}

/* =========================
   ADD TO CART BUTTON
========================= */

.add-to-cart-button {
  position: absolute;
  right: 10px;
  bottom: 10px;
  width: 32px;
  height: 32px;
  border: none;
  background: white;
  padding: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  border-radius: 8px;
  z-index: 5;
}

.add-to-cart-button img {
  width: 32px;
  height: 32px;
  border-radius: 8px;
  display: block;
}

/* =========================
   TITRES / PRIX
========================= */

.menu-title {
  margin: 0 0 10px;
  font-size: 18px;
  text-align: center;
}

.menu-price {
  margin-left: 8px;
  font-size: 18px;
  font-weight: 700;
  color: var(--collection-de-variables-footer-1);
}

/* ================= MODAL ================= */

#menuModal {
  display: none;

  position: fixed;
  top: 0;
  left: 0;

  width: 100%;
  height: 100%;

  background: rgba(0, 0, 0, 0.6);

  display: flex;
  justify-content: center;
  align-items: center;

  z-index: 9999;
}

/* boîte interne */
.modal-box {
  
  padding: 20px;
  border-radius: 15px;
  background: var(--collection-de-variables-hero-1);
  color: var(--collection-de-variables-footer-1);
  width: 300px;
  max-width: 90%;
  text-align: center;
  font-family: "Lato", sans-serif;
}

#modalNom {
  color: var(--collection-de-variables-footer-1) !important;
  font-size: 24px !important;
  margin-bottom: 20px !important;
}

/* input */
.modal-box input {
  width: 60px;
  padding: 5px;
  margin: 30px 5px 20px 5px;
  text-align: center;
  border: 1px solid var(--collection-de-variables-footer-1);
  border-radius: 8px;
  
}

/* boutons */
.modal-box button {
  margin: 40px 10px 10px 10px;
  padding: 8px 12px;
  border-radius: 8px;
  border: none;
  cursor: pointer;
  font-family: "Lato", sans-serif;
  background: var(--collection-de-variables-header-1);
  color: var(--collection-de-variables-footer-1);
  
}

.confirmation-modal {
  position: fixed;
  inset: 0;
  display: none;
  align-items: center;
  justify-content: center;
  background: rgba(0, 0, 0, 0.35);
  z-index: 2000;
}

.confirmation-modal.open {
  display: flex;
}

.confirmation-modal__box {
  width: 500px;
  padding: 50px;
  border-radius: 16px;
  background-color: var(--collection-de-variables-hero-1);
  text-align: center;
  color: #522404;
}

.confirmation-modal__actions {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 80px;
  margin-top: 50px;
}

.confirmation-modal__actions button {
  width: 100%;
  max-width: 170px;
  height: 32px;
  padding: 0 16px;
  border: none;
  border-radius: 10px;
  background-color: var(--collection-de-variables-header-1);
  color: var(--couleur-texte-tableaux-profils);
  font-weight: 700;
  cursor: pointer;
  white-space: nowrap;
  display: flex;
  align-items: center;
  justify-content: center;
}

.confirmation-modal__box p {
  margin: 0;
  margin-bottom: 20px;
  font-size: 18px;
  font-family: lato, sans-serif;
  font-weight: 700;
  color: var(--couleur-texte-tableaux-profils);
  text-align: center;
}

.modal-box p,
.modal-box label {
  font-family: "Lato", sans-serif;
  font-size: 14px;
  font-weight: 700;
  color: var(--couleur-texte-tableaux-profils);
}

.modal-box h3 {
  font-family: "Cormorant Garamond", serif;
  font-size: 18px;
  font-weight: 700;
}



