@media (max-width: 768px) {

  /* ================= STRUCTURE LIGNE ================= */

  .row-employe {
    display: flex;
    flex-direction: column; 
    height: auto;
  }

  /* ================= COLONNES EN LIGNES ================= */

  .col-left,
  .col-center,
  .col-right {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;

    padding: 10px;
    box-sizing: border-box;

    border-right: none;
  }

  /* séparation visuelle entre blocs */
  .col-left,
  .col-center {
    border-bottom: 1px solid white;
  }

  /* ================= ALIGNEMENT CONTENU ================= */

  .col-left {
    flex-direction: column;
    text-align: center;
  }

  .col-center {
    flex-direction: column;
    text-align: center;
    gap: 4px;
  }

  .col-right {
    flex-direction: row;
    justify-content: center;
    gap: 20px;
  }

  /* ================= ICONES ================= */

  .icon {
    width: 14px;
    height: 14px;
  }

   /* ================= IMAGES BAS ================= */

  .shared-highlights {
    width: 100%;
    height: auto;
    padding: 20px;
    gap: 30px;
    display: flex;
    justify-content: center;
  }

  .shared-highlights__image {
    width: 70px;
    height: 60px;
  }

  .shared-highlights__image img {
    border-radius: 10px;
  }

  /* ================= FOOTER ================= */

  .footer-legal {
    text-align: center;
    width: 100%;
  }

}