/* =========================================================
   PAGE CLIENT
========================================================= */

body.page-client {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  background-color: var(--collection-de-variables-hero-1);
}

.page-main {
  flex: 1;
  display: flex;
  flex-direction: column;
  background-color: var(--collection-de-variables-hero-1);
}

/* =========================================================
   SECTION
========================================================= */

.client-section {
  flex: 1;
  width: 100%;
  min-height: 550px;

  display: flex;
  flex-direction: column;
  align-items: center;

  padding: 25px 40px 60px;
  box-sizing: border-box;
  
  
}

/* =========================================================
   TITRE
========================================================= */

.client-section h2 {
  margin: 0 0 40px 0;
  font-family: "Cormorant Garamond", serif;
  font-size: 40px;
  font-weight: 600;
  color: var(--collection-de-variables-footer-1);
  text-align: center;
}

/* =========================================================
   TABLE
========================================================= */

.client-table {
  width: 100%;
  max-width: 1000px;
  border-radius: 15px;
  overflow: hidden;
  
}
.client-table.client-table--second {
  margin-top: 40px;
}

/* header */
.client-table__row--title-primary {
  height: 30px;
  background-color: var(--collection-de-variables-couleur-1-tableau);
  color: #ffffff;

  display: flex;
  justify-content: center;
  align-items: center;

  font-family: "Cormorant Garamond", serif;
  font-size: 18px;
  font-weight: 700;
}

/* =========================================================
   LIGNES
========================================================= */

.row-employe {
  display: flex;
  height: 60px;
}

/* alternance */
.row-employe:nth-child(odd) {
  background: #d9d9d9;
}
.row-employe:nth-child(even) {
  background: #cfcfcf;
}

/* =========================================================
   COLONNES
========================================================= */

/* gauche */
.col-left {
  width: 400px;

  background: #617279;
  color: #d9d9d9;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  font-family: "Lato", sans-serif;
  font-size: 14px;
  font-weight: 600;

  border-right: 1px solid #fff;
  border-bottom: 1px solid #fff;

  gap: 4px;
}

/* centre */
.col-center {
  width: 300px;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  font-family: "Lato", sans-serif;
  font-size: 12px;
  color: #3F535B;

  border-right: 1px solid #fff;
  border-bottom: 1px solid #fff;

  gap: 4px;
}

/* droite */
.col-right {
  width: 300px;

  display: flex;
  justify-content: center;
  align-items: center;

  gap: 30px;

  border-bottom: 1px solid #fff;
}

/* =========================================================
   ICONES
========================================================= */

.icon {
  width: 14px;
  height: 14px;
  cursor: pointer;
}

/* =========================================================
   STATUTS
========================================================= */

.actif {
  color: green;
  font-weight: bold;
  font-size: 12px;
}

.inactif {
  color: red;
  font-weight: bold;
  font-size: 12px;
}

.container-valider {
  margin-top: 20px;
  text-align: center;
}

.commande-ok {
  animation: flash 0.8s ease;
}

@keyframes flash {
  0% { background-color: transparent; }
  50% { background-color: rgba(217, 86, 5, 0.2); }
  100% { background-color: transparent; }
}

.panier-footer {
  width: 100%;
  max-width: 1000px;
  margin: 0 auto;

  display: flex;
  justify-content: flex-end;
  align-items: center;

  gap: 25px;
  padding: 25px;
}

/* 🔥 CASE GRIS DU TOTAL */
.panier-total-box {
  background: #cfcfcf; /* même esprit que ton tableau */
  padding: 10px 20px;
  border-radius: 5px;
  min-width: 180px;

  display: flex;
  justify-content: center;
  align-items: center;
  border-bottom: #ffffff 1px solid;
  border-top: #ffffff 1px solid;
}

.panier-total {
  font-weight: bold;
  font-size: 16px;
  color: #3F535B;
}

/* BOUTON */
.btn-valider {
  padding: 10px 18px;
  background-color : var(--collection-de-variables-header-CTA-1);
  font-family: "Lato", sans-serif;
  font-weight: 600;
  color: white;
  border: none;
  border-radius: 8px;
  cursor: pointer;
}


/* =========================================================
   IMAGES
========================================================= */

.shared-highlights {
  width: 100%;
  height: 200px;

  background-color: var(--collection-de-variables-header-1);

  display: flex;
  justify-content: center;
  align-items: center;

  gap: clamp(40px, 18vw, 350px);
  padding: 0 40px;

  flex-shrink: 0;
}

.shared-highlights__image {
  width: 180px;
  height: 150px;
  flex-shrink: 0;
}

.shared-highlights__image img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 15px;
}